<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.demos"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.demos.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.demos.CustomDialog.CustomDialogActivity"/>
        <activity android:name="com.demos.aidl.BookManagerActivity"/>

        <service android:name="com.demos.aidl.BookManagerService"/>

        <activity android:name=".viewdraghelper.SwipBackActivity"/>
        <activity android:name=".viewdraghelper.SecondActivity"/>
        <activity android:name=".asynchronous.AsyncTaskActivity"/>
        <activity android:name=".window.WindowActivity"/>
        <activity android:name=".checkbox.CheckBoxActivity"/>
        <activity android:name=".TwoBallsSeekbar.SeekBarActivity"/>
        <activity android:name=".NestedScrolling.NestedScrollingActivity"/>
        <activity android:name=".NestedScrolling.BehaviorActivity"/>
        <activity android:name=".NestedScrolling.FabActivity"/>
        <activity
            android:name=".support_23_2.DayNightActivity"
            android:theme="@style/MyDayNight"/>
        <activity android:name=".uploadPic.UpLoadPicActivity"/>
        <activity android:name=".headlist.PinnedSectionListActivity"/>
        <activity android:name=".headlist.RefreshListActivity"/>
        <activity android:name=".RequestQueue.QueueActivity"/>
        <activity android:name=".Bessel.BesselActivity"/>
        <activity android:name=".dragger.DraggerActivity"/>
        <activity android:name=".faceabstrct.FaceAbsActivity"/>
        <activity android:name=".service.ServiceActivity"/>
        <activity android:name=".douban.DouBanMovieActivity"/>

        <service android:name=".window.WindowService"/>
        <service android:name=".service.TestService"/>
    </application>

</manifest>
